body {
    background-color: rgb(0, 0, 0);
    background-image: url(images/back.jpg);
    background-size: cover;
    backdrop-filter: blur(-1px);
    background-repeat: no-repeat;
    margin: 0px;
    box-sizing: border-box;

}

.container::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}
.nav-container{
    position: sticky;
    top: -1px;
    z-index: 99;
}

.navbar {
    position: sticky;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.096);
    height: 80px;
    font-family: 'Ubuntu', sans-serif;
    backdrop-filter: blur(10px);
    z-index: 99;
}

.nav-items {
    margin-top: -15px;
}

.nav-items>ul {
    font-size: small;
    list-style: none;
}

.nav-items>ul>li {
    width: 150px;
    float: left;
}

.nav-items>ul>li>a {
    text-decoration: none;
    color: white;
}

.navbar>.logo> a >img {
    margin: 6px 0px 0px 10px;
    height: 100px;
    width: 100px;
}

.search-div{
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    top:1px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-div > img{
    width: 20;
    position: absolute;
    height: 20px;
    margin-top: 10px;
    right: 43%;
}

.search-div > #search-box{
    width: 400px;
    text-align: center;
    height: 40px;
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.096);
    color: white;
    backdrop-filter: blur(10px);
    border: 0px solid black;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(19, 19, 19);
}

#search-box::placeholder{
    color: rgb(177, 177, 177);
}

a {
    text-decoration: none !important;
}

/* *{
    transition: 0.4s ease-out !important;
} */