
.container{
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.prod-div{
    width: 90%;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    /* backdrop-filter: blur(15px); */
    display: flex;
    justify-content: space-between;
}
.prod-img{
    width: 35%;
    height: 100%;
}

.prod-img > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.5s ease-out;
}

.prod-img:hover > img{
    scale: 1.25;
}

.prod-info{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod-info > p{
    text-align: justify;
}

.prod-info > h2, .prod-info > p{
    margin-top: 3px;
    margin-bottom: 10px;
    
}
.p-code h4{
    margin-top: 15px;
    margin-bottom: 2px;
    float: left;
    margin-left: 5px;
}

.prod-btn{
    width: 15%;
    height: 100%;
    
}

.prod-btn h2{
    margin: 5px auto;
}

.prod-btn .green{
    margin-top: 20px;
    color: #058f00;
}
.prod-btn button{
    width: 200px;
    height: 2rem;
    font-size: 15px;
    border-radius: 6px;
    border: 0px solid black;
}

.cart-btn > button{
    background-color: rgb(255, 189, 67);
}
.cart-btn > button:hover{
    background-color: rgb(253, 175, 30);
    scale: 1.08;

}

.wishlist-btn > button{
    background-color: rgb(201, 201, 201);
}
.prod-btn > .btn{
    margin-top: 15px;
}

.prod-btn img {
    width: 15px;
    height: 15px;
}